# Cruft files #
# ----------- #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea/
unison.*

# Project files #
# ------------- #
.git/
node_modules/
build/
coverage/
internals/docker/.docker-sync/
npm-debug.log
stats.json
